<?xml version="1.0" encoding="UTF-8"?>

<!-- 测试环境的日志配置 -->
<!-- ***需注意：在生产环境中，本文件需要删除*** -->
<configuration debug="true" scan="true">
	
	<!--<jmxConfigurator />	-->

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%date %-5level %logger{125} - %msg%n</pattern> -->
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{125} - %msg%n</pattern>
		</encoder>
	</appender>



	<!--  ebean log begin -->
    <logger name="com.avaje.ebean" level="INFO"/>
    <logger name="org.avaje.ebean" level="INFO"/>
    <logger name="org.avaje.ebean.SQL" level="TRACE"/>
    <logger name="org.avaje.ebean.TXN" level="TRACE"/>
    <logger name="org.avaje.ebean.SUM" level="TRACE"/>
    <logger name="com.avaje.tests" level="DEBUG"/>

    <logger name="com.avaje.ebeaninternal.server.lib" level="DEBUG"/>
    <logger name="com.avaje.ebeaninternal.server.lib.sql" level="TRACE"/>
    <logger name="com.avaje.ebeaninternal.server.transaction" level="TRACE"/>
    <!--  ebean log end -->

	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>

